:root {
  --main-bg-color: #222222;
  --main-color: white;
  --contrast-bg-color: #eeeeee;
  --contrast-color: #222222;
  --debug: #c0c7c7;
  --info: #7878e4;
  --warn: #fdc45c;
  --error: #f95151;

}
