.log-box {
  margin-top: 5em;
  max-width: 1024px;
  min-height: 60vh;

  .table-responsive {
    width: 100%;
    overflow-x: auto;
    display: block;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table {
    text-align: left;
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border-width: 1px !important;
    padding: 0.5rem 3rem 0.5rem 1rem;
    font-size: 1.3em;
  }
  th {
    font-size: 2.5em;
  }
  thead {
    border-bottom: thin solid;
    margin-bottom: 15px;
  }
}
